/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.selectImage {
    float: right;
    width: 60%;
    height: 60%;
}

.filoCaro {
    bottom: 0;
    height: 30%;
    width: 100%
}

.coverCaro {
    width: 30%;
    height: 60%;
}

li {
    list-style: none;
    display: inline-block;
}

ul {
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

.thumbnail {
    height: 50px;
    padding: 2px;
}

.large {
    width: 405px;
}

.mainimageshell {
    background-color: #fff;
    border-radius: 8px;
    float: left;
    width: 400px;
    padding: 10px;
}

.viewwindow {
    width: 400px;
    height: 307px;
    overflow-x: hidden;
    position: relative;
}

.fullsizelist {
    position: absolute;
    top: 0;
    left: 0;
    transition: left .8s ease;
    -ms-transition: left .8s ease;
    -o-transition: left .8s ease;
    -webkit-transition: left .8s ease;
    -moz-transition: left .8s ease;
}

.bg {
    padding: 10px;
    border-radius: 8px;
    margin:0 auto;
}

.thumbsshell {
    background-color: #fff;
    width: 400px;
    padding: 10px;
    border-radius: 8px;
    float: left;
}

.thumbswrapper {
    overflow-x: scroll;
    width: 394px;
    height: 80px;
    margin: 20px auto;
}

.thumbwrapper {
    float: left;
    height: 60px;
}
.thumbsshellV {
    background-color: #fff;
    height: 400px;
    padding: 10px;
    border-radius: 8px;
    float: left;
}

.thumbswrapperV {
    overflow-y: scroll;
    height: 394px;
    width: 80px;
    margin: 20px auto;
}

.thumbwrapperV {
    float: left;
    width: 60px;
}

.liV{
    display: block!important;
}
.thumbnailV{
    vertical-align: middle !important;
}


.captionshell {
    margin: 0 0 10px 5px;
    background-color: #fff;
    width: 175px;
    height: 324px;
    padding: 0 10px;
    border-radius: 8px;
    float: left;
}

.logoshell {
    margin: 0 0 0 5px;
    text-align: center;
    background-color: #fff;
    width: 175px;
    padding: 9px 10px;
    border-radius: 8px;
    float: left;
}
